<template>
  <v-app-bar app clipped-left color="primary" dark dense elevate-on-scroll>
    <v-app-bar-nav-icon
      v-if="accessToken && $vuetify.breakpoint.smAndDown"
      @click.stop="$emit('toggle-navigation-drawer')"
    />
    <span class="title font-weight-regular">Tribe</span>
    <v-spacer />

    <!-- Action Buttons -->
    <responsive-button
      v-if="$route.name === 'TeamPage'"
      :icon="'mdi-account-plus'"
      :label="'Invite User'"
      :layout="$vuetify.breakpoint.xsOnly ? 'compact' : 'regular'"
      :size="$vuetify.breakpoint.smAndUp ? 'small' : 'regular'"
      @click="showAddUserDialog = true"
    />
    <responsive-button
      v-if="
        $route.name === 'UserProfilePage' && $route.params.userId === user.id
      "
      :icon="'mdi-pencil'"
      :label="'Edit Profile'"
      :layout="$vuetify.breakpoint.xsOnly ? 'compact' : 'regular'"
      :size="$vuetify.breakpoint.smAndUp ? 'small' : 'regular'"
      :to="{
        name: 'EditUserProfilePage',
        params: { userId: $route.params.userId }
      }"
    />
    <create-button v-if="accessToken" />
    <v-btn v-if="!accessToken" outlined small @click="showLoginDialog = true">
      Login
    </v-btn>
    <profile-button v-else />

    <!-- Dialog Components -->
    <login-dialog
      v-if="showLoginDialog"
      @close-dialog="showLoginDialog = false"
    />
    <add-user-dialog
      v-if="showAddUserDialog"
      @close-dialog="showAddUserDialog = false"
    />
  </v-app-bar>
</template>

<script>
import CreateButton from "@/components/base/CreateButton";
import LoginDialog from "@/components/auth/LoginDialog";
import ProfileButton from "@/components/auth/ProfileButton";
import AddUserDialog from "@/components/team/AddUserDialog";
import ResponsiveButton from "@/components/common/ResponsiveButton";
import { mapGetters } from "vuex";

export default {
  name: "AppBar",

  components: {
    "login-dialog": LoginDialog,
    "add-user-dialog": AddUserDialog,
    "responsive-button": ResponsiveButton,
    "profile-button": ProfileButton,
    "create-button": CreateButton
  },

  data: () => {
    return {
      showLoginDialog: false,
      showAddUserDialog: false
    };
  },

  computed: {
    ...mapGetters(["accessToken", "user"])
  }
};
</script>
