<template>
  <div>
    <v-menu v-model="menu" :nudge-height="200" offset-y>
      <template v-slot:activator="{ on }">
        <v-btn
          v-on="on"
          color="white"
          class="ml-2 ml-sm-3 mr-1 mr-sm-n1 red--text"
          :class="compactLayout ? 'pa-0 compact-text-btn' : 'px-1'"
          depressed
          small
        >
          <v-icon color="primary" class="mr-0 mr-sm-1">
            mdi-plus-box
          </v-icon>
          {{ compactLayout ? "" : "Create" }}
          <v-icon color="primary" class="ml-n1 ml-sm-0">
            mdi-chevron-down
          </v-icon>
        </v-btn>
      </template>

      <v-card>
        <v-list class="py-0">
          <template v-for="option in options">
            <v-list-item @click="option.onClick" dense :key="option.name">
              <v-list-item-icon>
                <v-icon>{{ option.icon }}</v-icon>
              </v-list-item-icon>
              <v-list-item-title class="text-body-2 font-weight-regular ml-n3">
                {{ option.name }}
              </v-list-item-title>
            </v-list-item>
            <v-divider :key="option.icon" />
          </template>
        </v-list>
      </v-card>
    </v-menu>
    <add-praise-dialog
      v-if="showAddPraiseDialog"
      @close-dialog="showAddPraiseDialog = false"
    />
  </div>
</template>

<script>
import AddPraiseDialog from "@/components/praise/AddPraiseDialog";

export default {
  name: "CreateButton",

  components: {
    "add-praise-dialog": AddPraiseDialog
  },

  data: function() {
    return {
      menu: false,
      showAddPraiseDialog: false,
      options: [
        {
          name: "Praise",
          icon: "mdi-medal",
          onClick: this.openAddPraiseDialog
        },
        {
          name: "1-on-1 Meeting",
          icon: "mdi-chat",
          onClick: this.dummyFunction
        },
        {
          name: "Feedforward Review",
          icon: "mdi-text-box",
          onClick: this.dummyFunction
        }
      ]
    };
  },

  computed: {
    compactLayout() {
      return this.$vuetify.breakpoint.xsOnly;
    }
  },

  methods: {
    openAddPraiseDialog() {
      this.showAddPraiseDialog = true;
    },
    dummyFunction() {
      console.log("WIP...");
    }
  }
};
</script>

<style scoped>
.compact-text-btn {
  min-width: 40px !important;
}
</style>
