<template>
  <v-navigation-drawer
    app
    clipped
    :disable-resize-watcher="!$route.meta.showSidebar"
    floating
    mobile-breakpoint="960"
    :mini-variant="
      $vuetify.breakpoint.mdOnly ||
        (collapseDrawer && $vuetify.breakpoint.lgAndUp)
    "
    :temporary="$vuetify.breakpoint.smAndDown"
    v-model="showDrawer"
  >
    <v-list shaped>
      <v-list-item
        v-for="item in navigationItems"
        :key="item.title"
        :to="item.routerLink"
      >
        <v-tooltip :disabled="!collapseDrawer" open-delay="400" right>
          <template v-slot:activator="{ on }">
            <v-list-item-icon v-on="on">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
          </template>
          <span>{{ item.title }}</span>
        </v-tooltip>
        <v-list-item-title
          class="text-body-1 font-weight-regular grey--text text--darken-3"
        >
          {{ item.title }}
        </v-list-item-title>
      </v-list-item>
    </v-list>
    <template v-slot:append v-if="$vuetify.breakpoint.lgAndUp">
      <v-list-item @click="collapseDrawer = !collapseDrawer">
        <v-list-item-icon>
          <v-icon>
            {{ collapseDrawer ? "mdi-fast-forward" : "mdi-rewind" }}
          </v-icon>
        </v-list-item-icon>
        <v-list-item-title class="text-body-1 grey--text text--darken-2">
          Collapse Sidebar
        </v-list-item-title>
      </v-list-item>
    </template>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "NavigationDrawer",
  data: function() {
    return {
      showDrawer: false,
      collapseDrawer: false,
      navigationItems: [
        {
          title: "Dashboard",
          icon: "mdi-view-dashboard",
          routerLink: { name: "HomePage" }
        },
        {
          title: "Books",
          icon: "mdi-book-open-variant",
          routerLink: null
        },
        {
          title: "Praise",
          icon: "mdi-medal",
          routerLink: { name: "PraisesPage" }
        },
        {
          title: "1-on-1 Meetings",
          icon: "mdi-chat",
          routerLink: null
        },
        {
          title: "Feedforward",
          icon: "mdi-text-box",
          routerLink: null
        },
        {
          title: "Team",
          icon: "mdi-account-group",
          routerLink: { name: "TeamPage" }
        },
        {
          title: "Administration",
          icon: "mdi-cog",
          routerLink: null
        }
      ]
    };
  },
  watch: {
    $route: {
      deep: true,
      handler: function(newVal) {
        if (this.$vuetify.breakpoint.lgAndUp) {
          this.showDrawer = newVal.meta.showSidebar;
        }
      }
    }
  }
};
</script>
