<template>
  <v-snackbar
    bottom
    :color="notificationPayload.code < 300 ? 'success' : 'error'"
    :timeout="notificationPayload.timeout"
    :vertical="$vuetify.breakpoint.xsOnly"
    v-model="showSnackbar"
  >
    {{ notificationPayload.message }}
    <template v-slot:action="{ attrs }">
      <v-btn text @click="showSnackbar = false" v-bind="attrs">Close</v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Snackbar",
  data: () => ({
    showSnackbar: false
  }),
  computed: {
    ...mapGetters(["notificationPayload"])
  },
  watch: {
    notificationPayload: function() {
      if (!this.notificationPayload.message) return;
      this.showSnackbar = true;
    }
  }
};
</script>
