<template>
  <v-row no-gutters justify="center">
    <v-col v-bind="$attrs">
      <v-img contain :src="image" />
    </v-col>
    <v-col cols="12">
      <div class="text-center text-body-1 font-weight-medium mt-5 mb-1">
        {{ title }}
      </div>
      <div class="text-center text--secondary text-body-2" v-html="message" />
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "EmptyState",

  props: {
    image: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    message: {
      type: String,
      required: true
    }
  },

  data() {
    return {};
  }
};
</script>
