<template>
  <v-btn
    :icon="layout === 'compact'"
    :outlined="layout === 'regular'"
    :small="size === 'small'"
    v-bind="$attrs"
    @click="onClick"
  >
    <v-icon :left="layout === 'regular'">{{ icon }}</v-icon>
    {{ btnLabel }}
  </v-btn>
</template>

<script>
export default {
  name: "ResponsiveButton",
  props: {
    color: {
      type: String,
      default: "primary"
    },
    label: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    },
    layout: {
      type: String,
      default: "regular"
    },
    size: {
      type: String,
      default: "regular"
    }
  },
  data: () => {
    return {};
  },
  computed: {
    btnLabel() {
      return this.layout === "regular" ? this.label : "";
    }
  },
  methods: {
    onClick() {
      this.$emit("click");
    }
  }
};
</script>

<style scoped></style>
