<template>
  <v-dialog
    :fullscreen="$vuetify.breakpoint.xsOnly || isLandscape"
    overlay-opacity="0.8"
    persistent
    :value="true"
    v-bind="$attrs"
    width="800"
  >
    <v-card>
      <!-- Dialog title -->
      <v-card-title class="primary white--text py-4">
        <v-row no-gutters justify="space-between">
          <div>Praise Your Peer</div>
          <v-btn
            v-if="$vuetify.breakpoint.smAndDown"
            dark
            icon
            @click="showPreview = !showPreview"
          >
            <v-icon>{{ showPreview ? "mdi-eye-off" : "mdi-eye" }}</v-icon>
          </v-btn>
        </v-row>
      </v-card-title>

      <v-row no-gutters justify="space-around">
        <!-- Add praise form -->
        <v-col
          v-show="$vuetify.breakpoint.mdAndUp || !showPreview"
          class="px-6"
          cols="12"
          sm="10"
          md="7"
          lg="7"
          xl="7"
        >
          <v-form class="mt-6">
            <v-select
              dense
              :items="badges"
              item-text="title"
              label="Badge"
              outlined
              prepend-icon="mdi-medal"
              return-object
              v-model="selectedBadge"
            >
              <template v-slot:item="data">
                <v-list-item-avatar tile>
                  <v-img
                    contain
                    :src="require(`../../assets/praises/${data.item.icon}.png`)"
                  />
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{ data.item.title }}</v-list-item-title>
                  <v-list-item-subtitle>
                    <span class="text-wrap">{{ data.item.subtitle }}</span>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </template>
            </v-select>

            <v-select
              dense
              :items="validUsers"
              item-text="first_name"
              label="User"
              :loading="loadingStatus === 'fetchingDirectory'"
              outlined
              prepend-icon="mdi-account"
              return-object
              v-model="selectedUser"
            >
              <template v-slot:item="data">
                <v-list-item-avatar>
                  <v-img
                    :src="
                      data.item.avatar
                        ? data.item.avatar
                        : require('../../assets/profile/user.png')
                    "
                  />
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>
                    {{ data.item.first_name }} {{ data.item.last_name }}
                  </v-list-item-title>
                </v-list-item-content>
              </template>
            </v-select>

            <v-text-field
              counter="35"
              dense
              label="Title"
              outlined
              prepend-icon="mdi-card-text"
              v-model="title"
            />

            <v-textarea
              counter="200"
              label="Description"
              no-resize
              outlined
              prepend-icon="mdi-card-text"
              rows="5"
              v-model="description"
            />
          </v-form>

          <v-card-actions class="mt-3 px-0">
            <v-btn depressed @click.stop="closeDialog">
              Cancel
            </v-btn>
            <v-spacer />
            <v-btn
              class="white--text"
              color="primary"
              depressed
              :disabled="!areAllFieldsFilled"
              :loading="loadingStatus === 'publishingPraise'"
              @click="addPraise"
            >
              Publish Praise
            </v-btn>
          </v-card-actions>
        </v-col>

        <!-- Praise card preview -->
        <v-col
          v-show="$vuetify.breakpoint.mdAndUp || showPreview"
          class="mt-6 mt-sm-0"
        >
          <praise-card
            :badge="selectedBadge"
            :user="selectedUser ? selectedUser.first_name : 'Lance'"
            :avatar="
              selectedUser && selectedUser.avatar
                ? selectedUser.avatar
                : require('../../assets/profile/user.png')
            "
            :title="title ? title : 'Eye Grabbing Title!!'"
            :description="
              description
                ? description
                : `Describe the exceptional work done by ` +
                  `${selectedUser ? selectedUser.first_name : 'the person'} ` +
                  `in less than 200 words. Keep it crisp and to the point.`
            "
            :author="`${user.firstName} ${user.lastName}`"
            :createdOn="createdOn"
            class="mt-12 mt-sm-6 mb-6 pb-2 mx-auto mx-md-0"
          />
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
import Api from "@/api";
import { BADGES } from "@/config";
import PraiseCard from "@/components/praise/PraiseCard";
import { mapGetters, mapMutations } from "vuex";
import moment from "moment";

export default {
  name: "AddPraiseDialog",

  components: {
    "praise-card": PraiseCard
  },

  data: function() {
    return {
      loadingStatus: null,
      showPreview: false,
      users: null,
      selectedUser: null,
      title: null,
      description: null,
      createdOn: moment().utc(),
      selectedBadge: {
        title: "Badge",
        icon: "medal",
        color: "rgb(248, 183, 75)"
      },
      badges: BADGES
    };
  },

  computed: {
    ...mapGetters(["user"]),
    isLandscape() {
      return window.innerHeight < 500;
    },
    areAllFieldsFilled() {
      return (
        Boolean(this.title) &&
        Boolean(this.title.trim()) &&
        Boolean(this.description) &&
        Boolean(this.description.trim()) &&
        Boolean(this.users) &&
        this.selectedBadge.title !== "Badge"
      );
    },
    validUsers() {
      if (!this.users) return null;
      return this.users.filter(
        user =>
          `${user.first_name} ${user.last_name}` !==
          `${this.user.firstName} ${this.user.lastName}`
      );
    }
  },

  methods: {
    ...mapMutations(["updateNotificationPayload"]),
    closeDialog() {
      this.$emit("close-dialog");
    },
    async getDirectory() {
      this.loadingStatus = "fetchingDirectory";
      try {
        const response = await Api.user.userList();
        this.users = response.data.users;
      } catch (error) {
        console.error(error);
      } finally {
        this.loadingStatus = null;
      }
    },
    async addPraise() {
      this.loadingStatus = "publishingPraise";
      const payload = {
        badge: this.selectedBadge.title,
        awardee: this.selectedUser.id,
        title: this.title,
        description: this.description,
        author: this.user.id,
        votes: [],
        created_on: this.createdOn.format("YYYY-MM-DD")
      };
      try {
        await Api.praise.addPraise(payload);
        this.updateNotificationPayload({
          code: 201,
          message: `Your praise has been published. This should make ${this.selectedUser.first_name}'s day!`,
          timeout: 10000
        });
        this.closeDialog();
      } catch (error) {
        this.updateNotificationPayload({
          code: 400,
          message: error.response.data.message,
          timeout: 5000
        });
      } finally {
        this.loadingStatus = null;
      }
    }
  },

  created() {
    this.getDirectory();
  }
};
</script>
