<template>
  <v-card
    flat
    min-width="300"
    max-width="300"
    min-height="446"
    max-height="446"
    style="border-radius: 7px; border: 1px #e0e0e0 solid;"
    :style="gradientBackground"
    v-bind="$attrs"
  >
    <v-row no-gutters justify="center">
      <v-col cols="auto">
        <v-avatar
          color="white"
          size="88"
          class="pa-4 mt-n12"
          :style="borderStyle"
        >
          <v-img
            contain
            :src="require(`../../assets/praises/${badge.icon}.png`)"
          />
        </v-avatar>
      </v-col>
      <v-col cols="12">
        <v-row justify="center">
          <v-chip
            pill
            color="white"
            class="mt-n2 text-overline font-weight-medium"
            :style="borderStyle"
          >
            {{ badge.title }}
          </v-chip>
        </v-row>
      </v-col>
    </v-row>
    <v-row class="mt-4" justify="center">
      <v-avatar size="128"><v-img :src="avatar"/></v-avatar>
    </v-row>
    <div class="mt-2 mb-4 text-center text-h6">{{ user }}</div>
    <div class="text-center mx-4 text-body-1 font-weight-medium text-truncate">
      {{ title }}
    </div>
    <div
      class="ma-4 text-body-2 text-left multi-line-truncate"
      style="height: 98px"
    >
      {{ description }}
    </div>
    <v-row align="center" class="mx-4" no-gutters justify="space-between">
      <div class="text-caption text--secondary">{{ author }}</div>
      <div class="text-caption text--secondary">{{ getRelativeDay }}</div>
    </v-row>
  </v-card>
</template>

<script>
import moment from "moment";

export default {
  name: "PraiseCard",

  props: {
    badge: {
      type: Object,
      required: true
    },
    user: {
      type: String,
      required: true
    },
    avatar: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    author: {
      type: String,
      required: true
    },
    createdOn: {
      required: true
    }
  },

  computed: {
    borderStyle() {
      return `border: 1px ${this.badge.color} solid !important;`;
    },
    gradientBackground() {
      const top = `${this.badge.color} 0%`;
      const bottom = "rgba(255,255,255,1) 100%)";
      return `background: linear-gradient(180deg, ${top}, ${bottom};`;
    },
    getRelativeDay() {
      const today = moment();
      const createDate =
        typeof this.createdOn === "string"
          ? moment(this.createdOn)
          : this.createdOn;
      const duration = moment.duration(today.diff(createDate.local()));
      const days = duration.days();

      if (days === 0) return "Today";
      else if (days === 1) return "Yesterday";
      else return createDate.format("MMM Do YYYY");
    }
  },

  data() {
    return {};
  }
};
</script>

<style scoped>
.multi-line-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
</style>
