<template>
  <v-dialog
    :fullscreen="$vuetify.breakpoint.xsOnly || isLandscape"
    overlay-opacity="0.8"
    persistent
    :value="true"
    width="75vh"
    @keydown.esc="closeDialog"
  >
    <v-card>
      <v-card-title class="primary white--text py-4">Login</v-card-title>
      <v-form class="px-6 mt-6 mb-4">
        <v-text-field
          autofocus
          dense
          hide-details
          label="Email"
          outlined
          type="email"
          prepend-icon="mdi-email"
          v-model="email"
        />
        <v-text-field
          class="mt-6"
          dense
          hide-details
          label="Password"
          outlined
          prepend-icon="mdi-lock"
          :append-icon="!revealPassword ? 'mdi-eye-off' : 'mdi-eye'"
          :type="!revealPassword ? 'password' : 'text'"
          v-model="password"
          @click:append="revealPassword = !revealPassword"
          @keydown.enter="login"
        />
      </v-form>
      <v-card-actions class="px-6 pb-4">
        <v-btn depressed width="150" @click="closeDialog">Cancel</v-btn>
        <v-spacer />
        <v-btn
          class="white--text"
          color="primary"
          depressed
          :disabled="!email || !password"
          :loading="isLoading"
          width="150"
          @click="login"
        >
          Login
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Api from "@/api";
import { mapMutations } from "vuex";
export default {
  name: "LoginDialog",

  data: () => {
    return {
      email: "",
      password: "",
      isLoading: false,
      revealPassword: false
    };
  },

  computed: {
    isLandscape() {
      return window.innerHeight < 500;
    }
  },

  methods: {
    ...mapMutations([
      "updateNotificationPayload",
      "updateUser",
      "updateAccessToken",
      "updateRefreshToken"
    ]),
    closeDialog() {
      this.$emit("close-dialog");
    },
    async login() {
      if (!this.email) return;
      this.isLoading = true;

      try {
        const response = await Api.auth.login({
          email: this.email,
          password: this.password
        });
        const user = response.data;

        this.updateUser({
          id: user.id,
          firstName: user.first_name,
          lastName: user.last_name,
          email: user.email,
          avatar: user.avatar
        });

        this.updateAccessToken(user.access_token);
        this.updateRefreshToken(user.refresh_token);
        this.closeDialog();
        this.$router.push("/home");
      } catch (error) {
        this.updateNotificationPayload({
          code: 403,
          message: error.response.data.message,
          timeout: 3000
        });
      } finally {
        this.isLoading = false;
      }
    }
  }
};
</script>
