<template>
  <v-menu v-model="menu" :nudge-height="200" offset-y>
    <template v-slot:activator="{ on }">
      <v-btn
        v-on="on"
        class="text-capitalize ml-3"
        :class="
          $vuetify.breakpoint.xsOnly
            ? 'mr-n1 compact-text-btn'
            : 'pl-1 pr-0 mr-n1'
        "
        text
      >
        <v-avatar size="28" class="mr-0 mr-sm-1">
          <v-img
            :src="
              user.avatar
                ? user.avatar
                : require('../../assets/profile/user.png')
            "
          />
        </v-avatar>
        {{ userFirstName }}
        <v-icon>mdi-chevron-down</v-icon>
      </v-btn>
    </template>

    <v-card min-width="200">
      <v-list class="py-0">
        <v-list-item v-if="$vuetify.breakpoint.xsOnly">
          <v-list-item-avatar size="48" style="border: 1px #e0e0e0 solid;">
            <v-img
              :src="
                user.avatar
                  ? user.avatar
                  : require('../../assets/profile/user.png')
              "
            />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title
              class="text-body-2 grey--text text--darken-3 font-weight-medium"
            >
              {{ user.firstName }} {{ user.lastName }}
            </v-list-item-title>
            <v-list-item-subtitle>{{ user.email }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider v-if="$vuetify.breakpoint.xsOnly" />

        <template v-for="option in options">
          <v-list-item @click="option.onClick" dense :key="option.name">
            <v-list-item-icon>
              <v-icon>{{ option.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="text-body-2 ml-n3 font-weight-regular">
              {{ option.name }}
            </v-list-item-title>
          </v-list-item>
          <v-divider :key="option.icon" />
        </template>
      </v-list>
    </v-card>
  </v-menu>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

export default {
  name: "ProfileButton",

  data: function() {
    return {
      menu: false,
      options: [
        {
          name: "View Profile",
          icon: "mdi-card-account-details",
          onClick: this.viewProfile
        },
        {
          name: "Sign Out",
          icon: "mdi-logout",
          onClick: this.logout
        }
      ]
    };
  },

  computed: {
    ...mapGetters(["user"]),
    userFirstName() {
      return this.$vuetify.breakpoint.xsOnly ? "" : this.user.firstName;
    }
  },

  methods: {
    ...mapMutations(["clearUser", "clearAccessToken", "clearRefreshToken"]),
    viewProfile() {
      this.$router.push({
        name: "UserProfilePage",
        params: { userId: this.user.id }
      });
    },
    logout() {
      this.clearAccessToken();
      this.clearRefreshToken();
      this.clearUser();
      this.$router.push("/");
    }
  }
};
</script>

<style scoped>
.compact-text-btn {
  padding: 0 0 !important;
  min-width: 56px !important;
}
</style>
