<template>
  <v-app>
    <app-bar
      @toggle-navigation-drawer="
        $refs.navigationDrawer.showDrawer = !$refs.navigationDrawer.showDrawer
      "
    />
    <navigation-drawer ref="navigationDrawer" />
    <v-main>
      <router-view />
      <snack-bar />
    </v-main>
  </v-app>
</template>

<script>
import AppBar from "@/components/base/AppBar";
import NavigationDrawer from "@/components/base/NavigationDrawer";
import Snackbar from "@/components/base/Snackbar";
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "App",

  components: {
    "app-bar": AppBar,
    "snack-bar": Snackbar,
    "navigation-drawer": NavigationDrawer
  },

  data: () => ({}),

  computed: {
    ...mapGetters(["user", "accessToken", "refreshToken"])
  },

  methods: {
    ...mapMutations(["updateUser", "updateAccessToken", "updateRefreshToken"]),
    loadUser() {
      if (localStorage.tribeUser && !this.user.email) {
        this.updateUser(JSON.parse(localStorage.tribeUser));
      }
    },
    loadAccessToken() {
      if (localStorage.tribeAccessToken && !this.accessToken) {
        this.updateAccessToken(localStorage.tribeAccessToken);
      }
    },
    loadRefreshToken() {
      if (localStorage.tribeRefreshToken && !this.refreshToken) {
        this.updateRefreshToken(localStorage.tribeRefreshToken);
      }
    }
  },

  created() {
    this.loadUser();
    this.loadAccessToken();
    this.loadRefreshToken();
  }
};
</script>
