<template>
  <v-container>
    <v-row justify="center" no-gutters>
      <v-col cols="12" sm="12" md="11" lg="10">
        <!-- Basic Profile Details Section - Who are you? -->
        <v-row
          align="start"
          :no-gutters="$vuetify.breakpoint.xsOnly"
          justify="space-around"
        >
          <v-col cols="12" sm="5" md="4" lg="4" xl="4" class="px-2">
            <div
              class="title font-weight-medium"
              :class="$vuetify.breakpoint.xsOnly ? 'mb-0' : 'mb-2'"
            >
              Who are you?
            </div>
            <p class="text--secondary text-body-2 text-justify">
              Take the first step towards establishing trust with your peers by
              telling who you are.
            </p>
          </v-col>
          <v-col cols="12" sm="6" md="6" lg="6" xl="6" class="px-2">
            <v-row no-gutters class="mb-6" align="center">
              <v-col cols="auto" class="mr-4">
                <v-avatar
                  size="88"
                  style="border: 1px #e0e0e0 solid !important;"
                >
                  <v-img
                    :src="
                      userDetails.avatar
                        ? userDetails.avatar
                        : require('../assets/profile/user.png')
                    "
                  />
                </v-avatar>
              </v-col>
              <v-col>
                <div class="body-2">Digital Avatar</div>
                <div class="text--secondary caption">
                  Pick a miniaturized image of your face (~500 Kb)
                </div>
                <upload-avatar
                  class="mt-2"
                  @successfully-uploaded-avatar="updateAvatar"
                />
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col>
                <v-text-field
                  class="mr-4"
                  dense
                  label="First Name"
                  outlined
                  prepend-icon="mdi-account"
                  v-model="userDetails.first_name"
                />
              </v-col>
              <v-col>
                <v-text-field
                  dense
                  label="Last Name"
                  outlined
                  v-model="userDetails.last_name"
                />
              </v-col>
            </v-row>
            <v-dialog
              ref="birthdayDatePickerDialog"
              v-model="showBirthdayCalendar"
              width="330px"
              :fullscreen="$vuetify.breakpoint.xsOnly"
              persistent
              :return-value.sync="userDetails.birthday"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  append-icon="mdi-calendar"
                  dense
                  label="Birthday"
                  outlined
                  prepend-icon="mdi-cake"
                  readonly
                  v-model="formattedBirthday"
                  v-on="on"
                  @click:append="showBirthdayCalendar = true"
                />
              </template>
              <v-date-picker
                color="primary"
                no-title
                full-width
                v-model="userDetails.birthday"
              >
                <v-row no-gutters>
                  <v-col cols="12" class="px-2 mb-2">
                    <div class="text-caption text--secondary text-center">
                      When did you start your revolution around the sun?
                    </div>
                  </v-col>
                  <v-col cols="12">
                    <v-row no-gutters justify="space-between">
                      <v-btn
                        class="ml-2"
                        outlined
                        text
                        @click="showBirthdayCalendar = false"
                      >
                        Cancel
                      </v-btn>
                      <v-btn
                        class="mr-2 mb-2"
                        color="primary"
                        depressed
                        @click="
                          $refs.birthdayDatePickerDialog.save(
                            userDetails.birthday
                          )
                        "
                      >
                        OK
                      </v-btn>
                    </v-row>
                  </v-col>
                </v-row>
              </v-date-picker>
            </v-dialog>
            <v-select
              dense
              :items="designations"
              label="Job Role"
              multiple
              outlined
              prepend-icon="mdi-office-building"
              v-model="userDetails.designation"
            />
          </v-col>
        </v-row>

        <v-divider class="my-2" />

        <!-- Tag & Biography section -->
        <v-row
          align="start"
          :no-gutters="$vuetify.breakpoint.xsOnly"
          justify="space-around"
        >
          <v-col cols="12" sm="5" md="4" lg="4" xl="4" class="px-2">
            <div
              class="title font-weight-medium"
              :class="$vuetify.breakpoint.xsOnly ? 'mb-0' : 'mb-2'"
            >
              Who are you really?
            </div>
            <p class="text--secondary text-body-2 text-justify">
              What drives you to wake up everyday and work on anything? Breathe
              in...out. Do some soul searching before filling this section.
            </p>
          </v-col>
          <v-col cols="12" sm="6" md="6" lg="6" xl="6" class="px-2">
            <v-textarea
              class="mb-2"
              auto-grow
              counter="100"
              hint="Sell yourself in one line similar to this hint"
              label="Tagline"
              no-resize
              outlined
              prepend-icon="mdi-card-text"
              rows="1"
              v-model="userDetails.tagline"
            />
            <v-textarea
              auto-grow
              counter="500"
              hint="What's your life story?"
              label="Biography"
              no-resize
              outlined
              prepend-icon="mdi-card-text"
              rows="5"
              v-model="userDetails.biography"
            />
          </v-col>
        </v-row>

        <v-divider class="my-2" />

        <!-- Communication Section -->
        <v-row
          align="start"
          :no-gutters="$vuetify.breakpoint.xsOnly"
          justify="space-around"
        >
          <v-col cols="12" sm="5" md="4" lg="4" xl="4" class="px-2">
            <div
              class="title font-weight-medium"
              :class="$vuetify.breakpoint.xsOnly ? 'mb-0' : 'mb-2'"
            >
              How does one contact you?
            </div>
            <p class="text--secondary text-body-2 text-justify">
              Communication is a prerequisite for collaboration. How should your
              peers get in touch with you? Good old phone calls? Email? You get
              to decide.
            </p>
          </v-col>
          <v-col cols="12" sm="6" md="6" lg="6" xl="6" class="px-2">
            <v-text-field
              dense
              label="Phone Number"
              outlined
              prepend-icon="mdi-phone"
              type="tel"
              v-model="userDetails.phone_number"
            />
            <v-text-field
              dense
              filled
              hint="Primary email used for notifications, login, password reset etc."
              label="Email"
              outlined
              persistent-hint
              prepend-icon="mdi-email"
              readonly
              v-model="userDetails.email"
            />
          </v-col>
        </v-row>

        <v-divider class="my-2" />

        <!-- Social Section -->
        <v-row
          align="start"
          :no-gutters="$vuetify.breakpoint.xsOnly"
          justify="space-around"
        >
          <v-col cols="12" sm="5" md="4" lg="4" xl="4" class="px-2">
            <div
              class="title font-weight-medium"
              :class="$vuetify.breakpoint.xsOnly ? 'mb-0' : 'mb-2'"
            >
              Are you social?
            </div>
            <p class="text--secondary text-body-2 text-justify">
              Modern convention dictate that you be part of either Twitter or
              LinkedIn. No, Facebook is not allowed. What about code hosting
              sites?
            </p>
          </v-col>
          <v-col cols="12" sm="6" md="6" lg="6" xl="6" class="px-2">
            <v-text-field
              color="blue"
              dense
              label="Twitter Handle"
              outlined
              prepend-icon="mdi-twitter"
              v-model="userDetails.twitter"
            />
            <v-text-field
              color="blue darken-3"
              dense
              label="LinkedIn Profile URL"
              outlined
              prepend-icon="mdi-linkedin"
              v-model="userDetails.linkedin"
            />
            <v-text-field
              dense
              hint="Some people consider Gitlab to be a social place"
              label="Gitlab Profile URL"
              outlined
              persistent-hint
              prepend-icon="mdi-gitlab"
              v-model="userDetails.gitlab"
            />
          </v-col>
        </v-row>
        <v-row
          class="mt-4 mb-2"
          :class="$vuetify.breakpoint.smAndDown ? 'mx-4' : 'mx-8'"
          justify="space-between"
        >
          <v-btn
            outlined
            :to="{
              name: 'UserProfilePage',
              params: { userId: $route.params.userId }
            }"
          >
            Cancel
          </v-btn>
          <v-btn
            color="primary"
            depressed
            :loading="isLoading"
            @click="updateUser"
          >
            <v-icon left>mdi-content-save</v-icon>Update Profile
          </v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Api from "@/api";
import UploadAvatar from "@/components/team/UploadAvatar";
import { DESIGNATIONS } from "@/config";
import * as moment from "moment";
import { mapMutations } from "vuex";

export default {
  name: "EditProfilePage",

  components: {
    "upload-avatar": UploadAvatar
  },

  data: () => {
    return {
      userDetails: {},
      showBirthdayCalendar: false,
      designations: DESIGNATIONS,
      isLoading: false
    };
  },

  computed: {
    formattedBirthday() {
      if (!this.userDetails.birthday) return "";
      else {
        const birthday = moment(this.userDetails.birthday);
        return birthday.format("Do MMMM YYYY");
      }
    }
  },

  methods: {
    ...mapMutations(["updateNotificationPayload"]),
    async getUser() {
      try {
        const response = await Api.user.getUser(this.$route.params.userId);
        this.userDetails = response.data;
      } catch (error) {
        console.error(error);
      }
    },
    async updateUser() {
      this.isLoading = true;
      const payload = {
        first_name: this.userDetails.first_name,
        last_name: this.userDetails.last_name,
        birthday: this.userDetails.birthday,
        designation: this.userDetails.designation,
        tagline: this.userDetails.tagline,
        biography: this.userDetails.biography,
        phone_number: this.userDetails.phone_number,
        twitter: this.userDetails.twitter,
        gitlab: this.userDetails.gitlab,
        linkedin: this.userDetails.linkedin
      };

      try {
        await Api.user.updateUser(this.$route.params.userId, payload);
        this.updateNotificationPayload({
          code: 204,
          message: `Profile has been updated successfully`,
          timeout: 3000
        });
      } catch (error) {
        this.updateNotificationPayload({
          code: 400,
          message: error.response.data.message,
          timeout: 3000
        });
      } finally {
        this.isLoading = false;
      }
    },
    updateAvatar(avatar) {
      this.userDetails.avatar = avatar;
    }
  },

  created() {
    this.getUser();
  }
};
</script>
