<template>
  <v-container fill-height>
    <v-row justify="center">
      Home Page (WIP)
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "HomePage",
  data: () => {
    return {};
  }
};
</script>
