<template>
  <v-container>
    <v-row
      class="text-center text-sm-justify text-body-2 text-sm-body-1"
      justify="center"
      style="line-height: 28px"
    >
      <v-col cols="12" :sm="8" :md="8" :lg="7" :xl="7">
        <p
          :class="$vuetify.breakpoint.xsOnly ? 'font-weight-medium' : ''"
          class="title text-sm-h4 mb-sm-8 mt-sm-4 text-center"
        >
          One Spirit, One Team, One Win
        </p>
        <p>
          Does your team culture foster trust, promote collaboration and
          individual growth? How does one build such a culture? Why is this
          important?
        </p>
        <p>
          Let's start with the fundamentals. The purpose (soul) of a team is the
          reason why a team exists. This is why people from different cultures
          and geographies choose to join a team. Once this is established, there
          are 3 main pillars that quintessential for the proper functioning of a
          team. These are <b>trust</b>, <b>collaboration</b> and
          <b>individual growth</b>
          (in that order).
        </p>
        <p>
          <b>Tribe</b> is an application that aims to
          <b>help establish the right team culture</b> using the principle
          described above. It does so by providing a set of features that echo
          the 3 pillars.
        </p>
        <v-row
          v-for="(feature, index) in features"
          :key="feature.title"
          align="center"
          :justify="$vuetify.breakpoint.xsOnly ? 'center' : 'space-between'"
        >
          <v-col cols="12" :sm="6" :md="6" :lg="7" :xl="8">
            <p class="title">{{ feature.title }}</p>
            <p v-html="feature.body"></p>
          </v-col>
          <v-col
            cols="auto"
            :order="
              index % 2 === 1 && !$vuetify.breakpoint.xsOnly ? 'first' : 'last'
            "
          >
            <v-img
              :src="feature.img"
              :width="$vuetify.breakpoint.smAndDown ? 170 : 250"
            />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "LandingPage",

  data: () => ({
    showLoginDialog: false,
    features: [
      {
        title: "Trust",
        body:
          "Use the platform to provide constructive feedback, organize team  " +
          "dinners and support your team.",
        img: require("../assets/landing/trust.jpg")
      },
      {
        title: "Collaboration",
        body:
          "Work towards the team goal in a common setting where everyone can " +
          "be in-sync. Plan the daily agenda together and monitor progress on " +
          "the public board.",
        img: require("../assets/landing/collaboration.jpg")
      },
      {
        title: "Individual Growth",
        body:
          "Tribe encourages members to share interesting articles, podcasts, " +
          "books to help others. Team members can review their peers and " +
          "provide value feedback to help identify areas that can be improved.",
        img: require("../assets/landing/growth.jpg")
      }
    ]
  })
};
</script>
