<template>
  <v-container fill-height>
    <v-row v-if="praises.length === 0" justify="center" align="center">
      <v-col cols="12" sm="10" md="10" lg="9" xl="9">
        <empty-state
          cols="6"
          :image="require('../assets/praises/high-five.png')"
          title="Praise the exceptional work of your peers"
          message="
            Praises are a way to recognize the work of your peers. Press the
            <b>+ Create</b> button to show your appreciation.
          "
        />
      </v-col>
    </v-row>
    <v-row v-else class="pt-4" justify="space-around" align="start">
      <template v-for="praise in praises">
        <praise-card
          class="mx-5 my-10"
          :key="praise.id"
          :avatar="
            praise.awardee.avatar
              ? praise.awardee.avatar
              : require('../assets/profile/user.png')
          "
          :author="`${praise.author.first_name} ${praise.author.last_name}`"
          :user="praise.awardee.first_name"
          :title="praise.title"
          :description="praise.description"
          :createdOn="praise.created_on"
          :badge="getBadgeDetail(praise.badge)"
        />
      </template>
    </v-row>
  </v-container>
</template>

<script>
import Api from "@/api";
import { BADGES } from "@/config";
import PraiseCard from "@/components/praise/PraiseCard";
import EmptyState from "@/components/common/EmptyState";

export default {
  name: "PraisesPage",

  components: {
    "praise-card": PraiseCard,
    "empty-state": EmptyState
  },

  data() {
    return {
      praises: [],
      isLoading: false,
      badges: BADGES
    };
  },

  methods: {
    async getPraises() {
      this.isLoading = true;
      try {
        const response = await Api.praise.praisesList();
        this.praises = response.data.praises;
      } catch (error) {
        console.error(error);
      } finally {
        this.isLoading = false;
      }
    },
    getBadgeDetail(selectedBadge) {
      const index = this.badges.findIndex(
        badge => badge.title === selectedBadge
      );
      return this.badges[index];
    }
  },

  created() {
    this.getPraises();
  }
};
</script>

<style scoped></style>
