<template>
  <v-container>
    <v-row justify="center">
      <!-- User avatar, name, designation and social links column -->
      <v-col cols="auto">
        <v-row align="center">
          <v-col cols="12" md="auto" lg="auto" xl="auto">
            <v-row
              no-gutters
              justify="center"
              v-if="!(isLoading && $vuetify.breakpoint.mdAndUp)"
            >
              <v-skeleton-loader
                :loading="isLoading"
                type="avatar"
                transition="scale-transition"
              >
                <v-avatar size="128" style="border: 1px #e0e0e0 solid;">
                  <v-img
                    :src="
                      userDetails.avatar
                        ? userDetails.avatar
                        : require('../assets/profile/user.png')
                    "
                  />
                </v-avatar>
              </v-skeleton-loader>
            </v-row>
          </v-col>
          <v-col cols="12" md="auto" lg="auto">
            <component hide-on-leave :is="'div'">
              <v-row v-if="isLoading" justify="center">
                <v-skeleton-loader
                  transition-group="scale-transition"
                  :type="
                    $vuetify.breakpoint.smAndDown
                      ? 'list-item-two-line'
                      : 'list-item-avatar-two-line'
                  "
                  width="300"
                />
              </v-row>
              <div v-else class="text-center text-h4 font-weight-light mb-1">
                {{ fullName }}
              </div>
            </component>
            <div class="text-overline font-weight-regular text-center mb-4">
              {{ designation }}
            </div>
            <v-row justify="center" no-gutters>
              <template v-for="(link, index) in activeSocialLinks">
                <v-btn
                  :href="link.href"
                  icon
                  :key="link.icon"
                  :class="
                    index === activeSocialLinks.length - 1 ? 'mr-0' : 'mr-8'
                  "
                >
                  <v-icon>{{ link.icon }}</v-icon>
                </v-btn>
              </template>
            </v-row>
          </v-col>
        </v-row>
      </v-col>

      <!-- Tab (About) contents -->
      <v-col cols="12" sm="10" md="10" lg="9" xl="9">
        <v-tabs v-if="!emptyProfile" :grow="$vuetify.breakpoint.xsOnly">
          <v-tab href="#about"> <v-icon left>mdi-account</v-icon>About </v-tab>
        </v-tabs>
        <v-card
          :flat="$vuetify.breakpoint.xsOnly"
          :outlined="!$vuetify.breakpoint.xsOnly"
        >
          <v-skeleton-loader
            :loading="isLoading"
            type="article, article"
            transition-group="scale-transition"
          >
            <empty-state
              v-if="emptyProfile"
              :class="$vuetify.breakpoint.xsOnly ? 'mt-0' : 'mt-2 mb-4'"
              cols="6"
              :image="require('../assets/profile/profile-construction.jpg')"
              :title="
                profileAuthor
                  ? 'Oh No! Your Profile is Empty!'
                  : `You caught ${userDetails.first_name} off guard!`
              "
              :message="
                profileAuthor
                  ? 'Quick. Click the Edit Profile button located at the top to complete your profile.'
                  : 'Come back later. The profile is still in WIP phase.'
              "
            />
            <about-user
              v-else
              :birthday="formattedBirthday"
              :tagline="
                userDetails.tagline
                  ? userDetails.tagline
                  : `\t“One liners about oneself are not easy to come by!”`
              "
              :biography="
                userDetails.biography
                  ? userDetails.biography
                  : `${userDetails.first_name} still needs time to reflect deeply within...`
              "
            />
          </v-skeleton-loader>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import * as moment from "moment";
import Api from "@/api";
import EmptyState from "@/components/common/EmptyState";
import AboutUser from "@/components/team/AboutUser";

export default {
  name: "ProfilePage",

  components: {
    "empty-state": EmptyState,
    "about-user": AboutUser
  },

  data: function() {
    return {
      userDetails: {},
      isLoading: false
    };
  },

  computed: {
    ...mapGetters(["user"]),
    emptyProfile() {
      return (
        !this.formattedBirthday &&
        !this.userDetails.tagline &&
        !this.userDetails.biography
      );
    },
    profileAuthor() {
      return this.user.id === this.$route.params.userId;
    },
    initials() {
      if (
        this.userDetails.first_name === undefined ||
        this.userDetails.last_name === undefined
      )
        return "";
      return this.userDetails.first_name[0] + this.userDetails.last_name[0];
    },
    fullName() {
      return `${this.userDetails.first_name} ${this.userDetails.last_name}`;
    },
    designation() {
      return this.userDetails.designation
        ? this.userDetails.designation.join(" | ")
        : "";
    },
    formattedBirthday() {
      if (!this.userDetails.birthday) return "";
      else {
        const birthday = moment(this.userDetails.birthday);
        return birthday.format("Do MMMM YYYY");
      }
    },
    activeSocialLinks() {
      const socialLinks = [
        {
          icon: "mdi-twitter",
          href: this.userDetails.twitter
            ? `https://twitter.com/${this.userDetails.twitter}`
            : ""
        },
        {
          icon: "mdi-email",
          href: this.userDetails.email ? `mailto:${this.userDetails.email}` : ""
        },
        {
          icon: "mdi-linkedin",
          href: this.userDetails.linkedin ? this.userDetails.linkedin : ""
        },
        {
          icon: "mdi-phone",
          href: this.userDetails.phone_number
            ? `tel:${this.userDetails.phone_number}`
            : ""
        },
        {
          icon: "mdi-gitlab",
          href: this.userDetails.gitlab ? this.userDetails.gitlab : ""
        }
      ];

      return socialLinks.filter(link => link.href !== "");
    }
  },

  watch: {
    "$route.params.userId": function() {
      this.getUser();
    }
  },

  methods: {
    async getUser() {
      this.isLoading = true;
      try {
        const response = await Api.user.getUser(this.$route.params.userId);
        this.userDetails = response.data;
      } catch (error) {
        console.error(error);
      } finally {
        this.isLoading = false;
      }
    }
  },

  created() {
    this.getUser();
  }
};
</script>
