<template>
  <v-container>
    <v-tabs>
      <v-tab href="#directory">Directory</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <directory />
    </v-tabs-items>
  </v-container>
</template>

<script>
import Directory from "@/components/team/Directory";
export default {
  name: "TeamPage",
  components: {
    directory: Directory
  },
  data: () => {
    return {
      tab: "directory"
    };
  }
};
</script>
