<template>
  <div>
    <div v-if="birthday" class="text-overline mb-2 ml-4 mt-4">
      Birthday
    </div>
    <p v-if="birthday" class="text-body-2 mx-4">{{ birthday }}</p>
    <div v-if="tagline" class="text-overline mb-2 ml-4 mt-6">
      Tagline
    </div>
    <p v-if="tagline" class="text-body-2 mx-4">
      {{ tagline }}
    </p>
    <div v-if="biography" class="text-overline mb-2 ml-4 mt-6">
      Biography
    </div>
    <p
      v-if="biography"
      class="text-justify text-body-2 mx-4"
      style="line-height: 24px"
    >
      {{ biography }}
    </p>
  </div>
</template>

<script>
export default {
  name: "AboutUser",

  props: {
    birthday: {
      type: String
    },
    tagline: {
      type: String
    },
    biography: {
      type: String
    }
  },

  data() {
    return {};
  }
};
</script>
