<template>
  <v-dialog
    :fullscreen="$vuetify.breakpoint.xsOnly || isLandscape"
    overlay-opacity="0.8"
    persistent
    :value="true"
    width="75vh"
    @keydown.esc="closeDialog"
  >
    <v-card>
      <v-card-title class="primary white--text py-4">
        Invite User
      </v-card-title>
      <v-form class="px-6 mt-6 mb-4">
        <v-row no-gutters>
          <v-col>
            <v-text-field
              autofocus
              class="mr-2"
              dense
              hide-details
              label="First Name"
              outlined
              prepend-icon="mdi-account"
              v-model="firstName"
            />
          </v-col>
          <v-col>
            <v-text-field
              dense
              hide-details
              label="Last Name"
              outlined
              v-model="lastName"
            />
          </v-col>
        </v-row>
        <v-text-field
          class="mt-4"
          dense
          hide-details
          label="Email"
          outlined
          prepend-icon="mdi-email"
          v-model="email"
          @keydown.enter="inviteUser"
        />
      </v-form>
      <v-card-actions class="px-6 pb-4">
        <v-btn depressed width="150" @click.stop="closeDialog">Cancel</v-btn>
        <v-spacer />
        <v-btn
          class="white--text"
          color="primary"
          depressed
          :disabled="!email || !firstName || !lastName"
          :loading="isLoading"
          width="150"
          @click.stop="inviteUser"
        >
          Invite
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Api from "@/api";
import { mapGetters, mapMutations } from "vuex";

export default {
  name: "AddUserDialog",

  data: () => {
    return {
      email: "",
      firstName: "",
      lastName: "",
      isLoading: false
    };
  },

  computed: {
    ...mapGetters(["user"]),
    isLandscape() {
      return window.innerHeight < 500;
    }
  },

  methods: {
    ...mapMutations(["updateNotificationPayload"]),
    closeDialog() {
      this.$emit("close-dialog");
    },
    async inviteUser() {
      if (!this.email || !this.firstName || !this.lastName) return;
      this.isLoading = true;
      const payload = {
        first_name: this.firstName,
        last_name: this.lastName,
        email: this.email
      };
      try {
        await Api.user.registerUser(payload);
        this.updateNotificationPayload({
          code: 201,
          message: `${this.firstName} has been invited successfully`,
          timeout: 3000
        });
        this.closeDialog();
      } catch (error) {
        this.updateNotificationPayload({
          code: 400,
          message: error.response.data.message,
          timeout: 3000
        });
      } finally {
        this.isLoading = false;
      }
    }
  }
};
</script>

<style scoped></style>
