<template>
  <v-tab-item value="directory">
    <component hide-on-leave :is="'div'">
      <v-row
        v-if="isLoading"
        class="pt-4"
        :justify="$vuetify.breakpoint.xsOnly ? 'center' : 'start'"
      >
        <v-skeleton-loader
          v-for="index in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
          :key="index"
          class="mx-3 mb-4"
          :width="$vuetify.breakpoint.xsOnly ? 180 : 250"
          style="border: 1px #e0e0e0 solid;"
          type="list-item-avatar-two-line"
          transition-group="scale-transition"
        />
      </v-row>
      <v-row
        v-else
        class="pt-4"
        :justify="$vuetify.breakpoint.xsOnly ? 'center' : 'start'"
      >
        <template v-for="user in users">
          <user-card
            class="mx-3 mb-4"
            :designation="user.designation.join(', ')"
            :id="user.id"
            :avatar="
              user.avatar
                ? user.avatar
                : require('../../assets/profile/user.png')
            "
            :first-name="user.first_name"
            :last-name="user.last_name"
            :key="user.first_name"
            :layout="$vuetify.breakpoint.mdAndUp ? 'regular' : 'compact'"
          />
        </template>
      </v-row>
    </component>
  </v-tab-item>
</template>

<script>
import Api from "@/api";
import UserCard from "@/components/team/UserCard";
export default {
  name: "Directory",
  components: {
    "user-card": UserCard
  },

  data: () => {
    return {
      users: [],
      isLoading: false
    };
  },

  methods: {
    async getDirectory() {
      this.isLoading = true;
      try {
        const response = await Api.user.userList();
        this.users = response.data.users;
      } catch (error) {
        console.error(error);
      } finally {
        this.isLoading = false;
      }
    }
  },

  created() {
    this.getDirectory();
  }
};
</script>
