.elevate-effect {
    transition: all 0.3s ease-in-out;
}
.elevate-effect:hover {
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2),
    0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12) !important;
    transition: all 0.3s ease-in-out;
}