<template>
  <v-btn
    small
    outlined
    :loading="isLoading"
    @click="$refs.uploadAvatar.click()"
  >
    Choose Image ...
    <input
      v-show="false"
      ref="uploadAvatar"
      type="file"
      accept=".jpeg, .jpg, .png"
      @change="upload"
    />
  </v-btn>
</template>

<script>
import Api from "@/api";
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "UploadAvatar",

  data: function() {
    return {
      isLoading: false
    };
  },

  computed: {
    ...mapGetters(["user"])
  },

  methods: {
    ...mapMutations(["updateNotificationPayload", "updateUser"]),
    async upload(uploadEvent) {
      let file = uploadEvent.target.files[0];

      const fileSize = Math.round(file.size / 1024);
      if (fileSize > 500) {
        this.updateNotificationPayload({
          code: 400,
          message: "Avatar file size exceeds 500 Kb!",
          timeout: 5000
        });
        return;
      }

      let fd = new FormData();
      fd.append("file", file);

      this.isLoading = true;

      try {
        await Api.user.uploadAvatar(this.$route.params.userId, fd);
        let fr = new FileReader();
        fr.onload = function() {
          var userCopy = this.user;
          userCopy.avatar = fr.result;
          this.updateUser(userCopy);
          this.$emit("successfully-uploaded-avatar", fr.result);
        }.bind(this);
        fr.readAsDataURL(file);
      } catch (error) {
        console.error(error);
      } finally {
        this.isLoading = false;
      }
    }
  }
};
</script>
