<template>
  <v-card
    flat
    outlined
    :min-width="layout === 'regular' ? '250' : '180'"
    :max-width="layout === 'regular' ? '250' : '180'"
    class="pa-2 user-card"
    :to="{
      name: 'UserProfilePage',
      params: { userId: id }
    }"
  >
    <!-- Regular Card Layout -->
    <v-row v-if="layout === 'regular'" align="center" no-gutters>
      <v-col cols="auto">
        <v-avatar size="48" style="border: 1px #e0e0e0 solid;">
          <v-img :src="avatar" />
        </v-avatar>
      </v-col>
      <v-col class="ml-2">
        <div
          style="width: 170px;"
          class="text-body-1 font-weight-medium text-truncate"
        >
          {{ firstName }} {{ lastName }}
        </div>
        <div style="width: 170px;" class="text-body-2 text-truncate">
          {{ designation }}
        </div>
      </v-col>
    </v-row>

    <!-- Compact Vertical Card Layout -->
    <v-row v-else no-gutters>
      <v-col>
        <v-row no-gutters justify="center" class="mb-4">
          <v-avatar size="96" style="border: 1px #e0e0e0 solid;">
            <v-img :src="avatar" />
          </v-avatar>
        </v-row>
        <v-row no-gutters justify="center">
          <div
            class="mx-2 text-body-2 font-weight-medium text-truncate text-center"
          >
            {{ firstName }} {{ lastName }}
          </div>
        </v-row>
        <div class="text-caption text-center text-truncate">
          {{ designation }}
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: "UserCard",

  props: {
    id: {
      type: String,
      required: true
    },
    avatar: {
      type: String
    },
    firstName: {
      type: String,
      required: true
    },
    lastName: {
      type: String,
      required: true
    },
    designation: {
      type: String,
      required: true
    },
    layout: {
      type: String,
      default: "regular"
    }
  },

  data: () => {
    return {};
  }
};
</script>

<style scoped>
@import "Elevate.css";
.user-card {
  border-radius: 7px;
}
.user-card:hover {
  background-color: #f5f5f5;
}
</style>
